@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "DM Sans", sans-serif;
  --white: #ffffff;
  --black: #000000;
  --text-primary: #272835;
  --text-secondary: #49494e;
  --text-tertiary: #9e9e9e;
  --text-light: #8f92a1;
  --text-grey: #cccccc;
  --text-orange: #ffad47;
  --grey-bg-color: #eaeefd;
  --main-bg-color: #e8eff6;
  --aside-bg-color: #f9f8f9;
  --banner-bg-color: #4778ec;
  --sidebar-bg-color: #002979;
  --upgrade-bg-color: #0052cc10;
  --notification-bg-color: #ff0000;
  --purple-bg-color: #f3e4ff;
  --orange-bg-color: #ffe4c2;
  --green-bg-color: #d5ffda;
  --blue-bg-color: #e4faff;
  --orange-progress-bg-color: #fff5cc;
  --orange-progress-color: #ffb200;
  --green-progress-bg-color: #d1ffdb;
  --green-progress-color: #13c525;
  --red-progress-bg-color: #ffd7d7;
  --red-progress-color: #ff4a4a;
  --gradient-bg-color: #1c4185;
  --font-size-xxs: 8px;
  --font-size-xs: 10px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 22px;
  --font-size-xl: 36px;
  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-bolder: 700;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-base: 10px;
  --border-radius-md: 16px;
  --border-radius-lg: 32px;
  --media-desktop: "only screen and (max-width : 1200px)";
  --media-desktop-sm: "only screen and (max-width : 1024px)";
}

/*************
  CSS RESET
*************/
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
em,
img,
sub,
sup,
center,
ol,
ul,
li,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*************
  GENERAL
*************/
body {
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-family: var(--primary-font-family);
  color: var(--text-primary);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: var(--primary-font-family);
  cursor: pointer !important;
}

img {
  object-fit: cover;
}

.icon-button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
}

/******************
  SIDE NAVIGATION
******************/
.side-nav {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--sidebar-bg-color);
}

.side-nav__app-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

.side-nav__links-list {
  padding-right: 30px;
}

.side-nav__link {
  height: 50px;
  display: flex;
  padding-left: 30px;
  cursor: pointer;
}

.side-nav__link:hover,
.side-nav__link--active {
  border-left: 6px solid var(--white);
  padding-left: 24px;
  background: linear-gradient(
    90deg,
    var(--gradient-bg-color) 68.23%,
    rgba(28, 65, 133, 0) 100%
  );
}

.side-nav__link-anchor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  width: 100%;
  font-size: var(--font-size-sm);
  color: var(--text-grey);
}

.side-nav__link-anchor__details {
  display: flex;
  align-items: center;
}

.side-nav__link-icon {
  margin-right: 10px;
}

.side-nav__link--active .side-nav__link-anchor,
.side-nav__link:hover .side-nav__link-anchor {
  color: var(--white);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.side-nav__link--active .side-nav__link-icon path,
.side-nav__link:hover .side-nav__link-icon path {
  stroke: var(--white);
}

.side-nav__notification-bubble {
  background-color: var(--notification-bg-color);
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
}

.side-nav__notification-text {
  font-weight: var(--font-weight-bolder);
  font-size: var(--font-size-xxs);
  color: var(--white);
  margin-top: 3px;
  line-height: 12px;
}

.side-nav__section-header {
  margin: 10px 30px 5px 30px;
  display: flex;
  align-items: center;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--text-grey);
  line-height: 20px;
}

.side-nav__upgrade {
  position: relative;
  height: 200px;
  margin: 36px 30px 0 30px;
  font-family: var(--secondary-font-family);
  color: var(--white);
}

.side-nav__upgrade__icon-container {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 18px);
  top: -18px;
  background-color: var(--white);
  border-radius: var(--border-radius-base);
}

.side-nav__upgrade__icon {
  height: 16px;
}

.side-nav__upgrade__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 24px 0 24px;
  line-height: 22px;
  border-radius: var(--border-radius-lg);
  background-color: var(--upgrade-bg-color);
}

.side-nav__upgrade__button {
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 8px;
  font-size: 12px;
  letter-spacing: -0.2px;
  font-weight: var(--font-weight-bold);
  color: var(--sidebar-bg-color);
  background-color: var(--white);
  border-radius: var(--border-radius-md);
}

@media only screen and (max-width: 1200px) {
  .side-nav {
    width: 22%;
  }

  .side-nav__link {
    height: 42px;
    padding-left: 20px;
  }

  .side-nav__link:hover,
  .side-nav__link--active {
    padding-left: 14px;
  }

  .side-nav__link-anchor {
    font-size: var(--font-size-xs);
  }

  .side-nav__link--active .side-nav__link-anchor,
  .side-nav__link:hover .side-nav__link-anchor {
    font-size: var(--font-size-sm);
  }

  .side-nav__upgrade__content {
    font-size: var(--font-size-sm);
    padding: 16px 16px 0 16px;
  }
}

/******************
  MAIN CONTENT
******************/
.main-content {
  width: 60%;
  padding: 20px 60px;
  overflow: auto;
  background-color: var(--main-bg-color);
}

.main-content__header {
  margin-bottom: 25px;
}

.main-content__header__intro {
  color: var(--text-light);
  line-height: 24px;
}

.main-content__header__title {
  font-size: var(--font-size-xl);
  letter-spacing: -0.06em;
  line-height: 54px;
}

.main-content__banner {
  font-family: var(--secondary-font-family);
  padding: 25px 20px 35px 35px;
  margin-bottom: 40px;
  border-radius: var(--border-radius-base);
  color: var(--white);
  background-color: var(--banner-bg-color);
}

.main-content__banner__title {
  margin-bottom: 12px;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: 29px;
}

.main-content__banner__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.main-content__banner__text {
  width: 70%;
  font-size: var(--font-size-sm);
  line-height: 20px;
}

.main-content__banner__button {
  height: 45px;
  width: 25%;
  font-size: var(--font-size-sm);
  color: var(--banner-bg-color);
  background-color: var(--white);
  border: none;
  border-radius: var(--border-radius-base);
}

.main-content__charts-list,
.main-content__sections-list {
  display: flex;
  justify-content: space-between;
}

.main-content__charts-list {
  margin-bottom: 36px;
}

.main-content__charts-list > div:first-child,
.main-content__sections-list > div:first-child {
  width: 60%;
}

.main-content__charts-list > div:last-child,
.main-content__sections-list > div:last-child {
  width: 35%;
}

.main-content__chart {
  height: 270px;
  background-color: var(--white);
  box-shadow: 0px 5px 20px rgba(39, 40, 53, 0.1);
  border-radius: var(--border-radius-base);
}

.main-content__chart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.main-content__section-header {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  margin-bottom: 12px;
  line-height: 20px;
}

.main-content__chart .main-content__section-header {
  margin: 0;
}

.main-content__chart__image {
  width: 100%;
  height: 78%;
  margin-top: -10px;
  object-fit: contain;
}

.main-content__charts-list > div:first-child .main-content__chart__image {
  height: 85%;
  margin-top: -35px;
}

.main-content__document {
  display: flex;
  justify-content: space-between;
  padding: 20px 18px;
  margin-bottom: 12px;
  background-color: var(--white);
  border-radius: var(--border-radius-base);
}

.main-content__document-container {
  display: flex;
  align-items: center;
}

.main-content__document-tag {
  font-size: var(--font-size-xxs);
  padding: 5px 8px;
  height: fit-content;
  border-radius: var(--border-radius-xs);
  background-color: var(--main-bg-color);
  font-weight: var(--font-weight--thin);
}

.document-details {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  line-height: 15px;
}

.section-item-header {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  margin-bottom: 6px;
}

.document-date {
  color: var(--text-tertiary);
  font-weight: var(--font-weight-thin);
}

.document__icon-container {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: var(--border-radius-sm);
  background-color: var(--purple-bg-color);
}

.document__icon-container--orange {
  background-color: var(--orange-bg-color);
}

.document__icon-container--green {
  background-color: var(--green-bg-color);
}

.document__icon-container--blue {
  background-color: var(--blue-bg-color);
}

.main-content__progress-section__content {
  background-color: var(--white);
  padding: 16px 16px 8px 16px;
  border-radius: var(--border-radius-base);
}

.main-content__progress-section__header {
  display: flex;
  justify-content: flex-end;
}

.main-content__progress-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.main-content__progress-image {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-sm);
  background-color: var(--grey-bg-color);
  border-radius: var(--border-radius-sm);
  line-height: 21px;
}

.main-content__progress-details {
  width: 80%;
}

.main-content__progress-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main-content__progress-domain {
  font-size: var(--font-size-xxs);
  width: 60%;
}

.main-content__progress-container,
.main-content__progress-bar {
  height: 8px;
  border-radius: var(--border-radius-lg);
}

.main-content__progress-container {
  width: 38%;
}

.main-content__progress-container--orange {
  background-color: var(--orange-progress-bg-color);
}

.main-content__progress-container--orange .main-content__progress-bar {
  background-color: var(--orange-progress-color);
  width: 60%;
}

.main-content__progress-container--green {
  background-color: var(--green-progress-bg-color);
}

.main-content__progress-container--green .main-content__progress-bar {
  background-color: var(--green-progress-color);
  width: 80%;
}

.main-content__progress-container--red {
  background-color: var(--red-progress-bg-color);
}

.main-content__progress-container--red .main-content__progress-bar {
  background-color: var(--red-progress-color);
  width: 35%;
}

@media only screen and (max-width: 1200px) {
  .main-content {
    width: 56%;
    padding: 20px 35px 10px 35px;
  }

  .main-content__section-header {
    font-size: var(--font-size-base);
  }

  .main-content__chart {
    height: 250px;
  }

  .main-content__chart__image {
    width: 80%;
    height: 100%;
    margin: -20px 0 0 20px;
  }

  .main-content__charts-list > div:first-child .main-content__chart__image {
    width: 100%;
    height: 100%;
    margin-top: -50px;
  }
}

/******************
  SIDEBAR CONTENT
******************/
.sidebar {
  height: 100%;
  width: 20%;
  padding: 20px 30px;
  background-color: var(--aside-bg-color);
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.sidebar__notification-bell {
  position: relative;
}

.sidebar__notification-count {
  position: absolute;
  top: 3px;
  right: 1px;
  font-family: var(--secondary-font-family);
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  font-weight: var(--font-weight-bolder);
  color: var(--white);
  border-radius: 50%;
  background-color: var(--notification-bg-color);
  line-height: 8px;
}

.sidebar__user-avatar {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-md);
  background-color: var(--grey-bg-color);
}

.sidebar__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.sidebar__section-header__title {
  font-weight: var(--font-weight-medium);
  line-height: 24px;
}

.sidebar__event,
.sidebar__event-date,
.sidebar__activity {
  display: flex;
  align-items: center;
  font-size: var(--font-size-xxs);
}

.sidebar__event,
.sidebar__activity {
  margin-bottom: 12px;
}

.sidebar__event .document__icon-container,
.sidebar__activity .document__icon-container {
  margin-right: 12px;
}

.sidebar__event-date {
  margin-top: 8px;
}

.sidebar__event-due {
  margin-left: 10px;
  color: var(--text-orange);
}

.sidebar__message-section {
  margin-top: 16px;
}

.sidebar__message-avatar-list {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 8px;
}

.sidebar__message-avatar {
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  color: var(--gradient-bg-color);
  border-radius: 50%;
  background-color: var(--grey-bg-color);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .sidebar {
    width: 22%;
    padding: 20px 15px 10px 15px;
    overflow: auto;
  }

  .sidebar__section-header__title {
    font-size: var(--font-size-sm);
    line-height: 20px;
  }

  .sidebar__user-avatar {
    height: 56px;
    width: 56px;
  }

  .sidebar__event,
  .sidebar__activity {
    margin-bottom: 8px;
  }

  .sidebar__message-avatar {
    height: 42px;
    width: 42px;
  }
}
